<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Namespace</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Criar novo Namespace</h1>
    <form method="post" action="{{ url_for('create_namespace') }}">
        <div class="form-group">
            <label for="namespace">Nome do Namespace</label>
            <input type="text" class="form-control" id="namespace" name="namespace" required>
        </div>
        <button type="submit" class="btn btn-primary">Criar Namespace</button>
    </form>
    {% if error %}
    <div class="alert alert-danger mt-4" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <a href="{{ url_for('get_info') }}" class="btn btn-secondary mt-4">Voltar</a>
</div>
</body>
</html>
